.hero-section {
  position: relative;
  background-image: url('../Assets/vlcsnap-2024-05-28-09h06m03s084\ 1.png');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 20px;
}

.hero-content {
  max-width: 600px;
  text-align: center;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-content button {
  padding: 10px 20px;
  background-color: #FF4136;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  width: 80%;
  max-width: 600px;
}
