body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

h2 {
  text-align: center;
  margin-top: 40px;
  color: #001f3f;
}

header {
  background-color: #001f3f;
  padding: 10px 0;
}

footer {
  background-color: #001f3f;
  color: white;
  padding: 20px 0;
  text-align: center;
}
